<div class="header clearfix">

    <!-- TOPBAR -->
    <div class="topBar">
        <div class="container">
            <div class="row">
                <div class="col-md-6 col-sm-5 hidden-xs">
                    <ul class="list-inline padding-top-10">
                        <li><a href="https://github.com/dmarjanovic94"><i class="fa fa-github"></i></a></li>
                        <li><a href="https://www.linkedin.com/in/dragutin-marjanovi%C4%87-157631a5/"><i class="fa fa-linkedin"></i></a></li>
                        <li><a href="https://www.facebook.com/dmarjanovic94"><i class="fa fa-facebook"></i></a></li>
                    </ul>
                </div>
                <div class="col-md-6 col-sm-7 col-xs-12">
                    <ul class="list-inline pull-right top-right">
                        <li class="account-login" ng-if="navbarVm.isGuest();"><span><a ui-sref="login">Log in</a><small>or</small><a ui-sref="register">Create an account</a></span></li>
                        <li class="dropdown cart-dropdown" ng-if="navbarVm.isCustomer();">
                            <a href="javascript:void(0)" class="dropdown-toggle" data-toggle="dropdown"><i class="fa fa-shopping-cart"></i>${{navbarVm.total()}}</a>
                            <ul class="dropdown-menu dropdown-menu-right">
                                <li>Item(s) in your cart</li>
                                <li ng-repeat="item in navbarVm.$storage.items">
                                    <a>
                                        <div class="media">
                                            <img class="media-left media-object" ng-src="{{item.product.preview}}" alt="{{item.product.name}}">
                                            <div class="media-body">
                                                <h5 class="media-heading">
                                                    {{item.product.name}}<br>
                                                    <span>{{item.quantity + ' X $' + item.product.price}}</span>
                                                </h5>
                                            </div>
                                        </div>
                                    </a>
                                </li>
                                <li>
                                    <div class="btn-group" role="group" aria-label="...">
                                        <button type="button" class="btn btn-default" ui-sref="shopping-cart">Shopping Cart</button>
                                        <button type="button" class="btn btn-default">Checkout</button>
                                    </div>
                                </li>
                            </ul>
                        </li>
                        <li class="account-login" ng-if="!navbarVm.isGuest();"><span><a ng-click="navbarVm.logout();">Logout</a></span></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>

    <!-- NAVBAR -->
    <nav class="navbar navbar-main navbar-default" role="navigation">
        <div class="container">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" ui-sref="home"><img src="../../assets/img/logo.png" alt="logo"></a>
            </div>

            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse navbar-ex1-collapse">
                <ul class="nav navbar-nav navbar-right">
                    <li class="active">
                        <a role="button" aria-haspopup="true" aria-expanded="false" ui-sref="home">Home</a>
                    </li>
                    <li class="dropdown" ng-if="navbarVm.isCustomer();">
                        <a href="javascript:void(0)" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">My Account</a>
                        <ul class="dropdown-menu dropdown-menu-right">
                            <li><a>Dashboard</a></li>
                            <li><a ui-sref="profile">Profile</a></li>
                        </ul>
                    </li>
                </ul>
            </div>
        </div>
    </nav>

</div>
