<section class="mainContent clearfix productsContent">
    <div class="container">
        <div class="row">
            <div class="col-md-3 col-sm-4 col-xs-12 sideBar">
                <div class="input-group">
                    <input type="text" class="form-control" placeholder="Search by Name"
                           ng-model="homeVm.filters['name']"
                           aria-describedby="basic-addon2">
                    <a class="input-group-addon" href ng-click="homeVm.applyFilters();" id="basic-addon2"><i
                            class="fa fa-search"></i></a>
                </div>
                <div class="panel panel-default">
                    <div class="panel-heading">Product categories</div>
                    <div class="panel-body">
                        <div class="collapse navbar-collapse navbar-ex1-collapse navbar-side-collapse">
                            <ul class="nav navbar-nav side-nav">
                                <li ng-repeat="category in homeVm.data.categories">
                                    <a href="javascript:;" data-toggle="collapse"
                                       ng-click="homeVm.retrieveSubcategoriesFor(category);"
                                       data-target="{{'#category-' + category.id}}">
                                        {{category.name}}
                                        <i class="fa fa-plus"></i></a>
                                    <ul id="{{'category-' + category.id}}" class="collapse collapseItem">
                                        <li ng-repeat="subcategory in category.subcategories">
                                            <a href ng-click="homeVm.searchByCategory(subcategory.id);">
                                                <i class="fa fa-caret-right" aria-hidden="true"></i>
                                                {{subcategory.name}}
                                            </a>
                                        </li>
                                    </ul>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="panel panel-default">
                    <div class="panel-heading">Filter by Price</div>
                    <div class="panel-body">
                        <div class="form-group">
                            <input type="text" class="form-control" placeholder="Minimum price"
                                   ng-model="homeVm.filters['price-range-from']">
                        </div>
                        <div class="form-group">
                            <input type="text" class="form-control" placeholder="Maximum price"
                                   ng-model="homeVm.filters['price-range-to']">
                        </div>
                    </div>
                </div>
                <button class="btn btn-default-filled col-xs-12" ng-click="homeVm.applyFilters();">Apply filters
                </button>
                <button class="btn btn-xs btn-danger-filled col-xs-12 margin-top-8" ng-click="homeVm.resetFilters();">
                    Reset filters
                </button>
            </div>
            <div class="col-md-9 col-sm-8 col-xs-12">
                <div class="row">
                    <div class="col-sm-4 col-xs-12" ng-if="homeVm.data.products.length > 0"
                         ng-repeat="product in homeVm.data.products">
                        <div class="productBox">
                            <div>
                                <button class="btn btn-link" data-toggle="modal" href='.discounts-modal'
                                        ng-click="homeVm.discountsFor(product);">Show all discounts
                                </button>
                            </div>
                            <div class="productImage clearfix">
                                <img ng-src="{{product.preview}}" alt="{{product.name}}">
                                <span class="sticker" ng-show="product.discount > 0">-{{product.discount}}%</span>
                                <div class="productMasking" ng-if="homeVm.isCustomer();">
                                    <ul class="list-inline btn-group" role="group">
                                        <li class="text-center">
                                            <div class="form-group">
                                                <label for="quantity">Quantity:</label>
                                                <input id="quantity" type="number" min="1" ng-model="product.quantity" ng-disabled="homeVm.isInCart(product.id)"/>
                                            </div>
                                            <button class="btn btn-default" ng-click="homeVm.addToCart(product);" ng-hide="homeVm.isInCart(product.id)">
                                                <i class="fa fa-shopping-cart"></i>
                                            </button>
                                            <button class="btn btn-default" ng-click="homeVm.removeFromCart(product.id);" ng-show="homeVm.isInCart(product.id)">
                                                <i class="fa fa-times"></i>
                                            </button>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                            <div class="productCaption clearfix">
                                <h5>{{product.category}}</h5>
                                <a>
                                    <h4 class="product-name">{{product.name}}</h4>
                                </a>
                                <h3>{{product.price | number : 2}} €</h3>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-12" ng-if="homeVm.data.products.length == 0">
                        <h2 class="text-center">No products match your criteria.</h2>
                    </div>
                </div>

                <!-- Pagination Links -->
                <div class="row text-center" ng-if="homeVm.data.products.length > 0">
                    <div class="text-center margin-bottom">
                        <ul class="pagination">
                            <li ng-class="{ 'disabled': homeVm.data.prev == null }">
                                <a href ng-click="homeVm.prev(homeVm.data.prev)" aria-label="Prev">«</a>
                            </li>
                            <li ng-class="{ 'disabled': homeVm.data.next == null }">
                                <a href ng-click="homeVm.next(homeVm.data.next)" aria-label="Next">»</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- DISCOUNTS MODAL -->
    <div class="modal fade discounts-modal" id="discounts" tabindex="-1" role="dialog">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                    <h3 class="modal-title">Product Discounts</h3>
                </div>
                <div class="modal-body">
                    <div class="table-responsive">
                        <table class="table">
                            <thead>
                            <tr>
                                <th>Name</th>
                                <th>From</th>
                                <th>To</th>
                                <th>Discount</th>
                                <th></th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr ng-repeat="discount in homeVm.productDiscounts">
                                <td>{{discount.attributes.name}}</td>
                                <td>{{discount.attributes.from | date:'dd. MM. yyyy.'}}</td>
                                <td>{{discount.attributes.to | date:'dd. MM. yyyy.'}}</td>
                                <td>
                                    <span class="label label-danger-filled" style="width: 60px !important;">
                                        -{{discount.attributes.discount}}%
                                    </span>
                                </td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
